[Unit]
Description=Socat Daemon Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/socat TCP4-LISTEN:ansible,fork,reuseaddr TCP4:output:ansible
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
